.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(231, 230, 230);
}
.left-section {
  display: flex;
  align-items: center;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.icon1 {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.yt-logo {
  height: 20px;
}
.search-icon {
  height: 25px;
  margin-top: 4px;
}
.voice-icon {
  height: 24px;
  margin-top: 4px;
  background-color: rgb(242, 242, 242);
}
.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 239);
  border: 1px;
  border-style: solid;
  border-color: gray;
  margin-left: -1px;
  margin-right: 10px;
}
.voice-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}
.search-bar {
  flex: 1;
  height: 37px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 191, 191);
  border-radius: 3px;
  box-shadow: inset 1px;
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.upload {
  height: 24px;
}
.yt-apps {
  height: 24px;
}
.notification {
  height: 24px;
}
.my-profile {
  height: 32px;
  border-radius: 16px;
}
.notification-container {
  position: relative;
}
.notification-count {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: rgb(198, 43, 43);
  color: white;
  font-family: Roboto, Arial;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
